#textdomain wesnoth
[multiplayer]
    id="2p_the_criminal_war"
    name="2p_the_criminal_war"
    map_file="~add-ons/Maps_from_all_over_the_world/maps/2p_the_criminal_war.map"
  
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        controller=human
        team_name=east
        user_team_name= _ "teamname^East"
    [/side]

    [side]
        side=2
        controller=human
        team_name=west
        user_team_name= _ "teamname^West"
    [/side]
[/multiplayer]
