#textdomain Maps_from_all_over_the_world
[multiplayer]
    id="3p_curse_treasure"
    name=_"3p_curse_treasure"
    map_file="~add-ons/Maps_from_all_over_the_world/maps/3p_curse_treasure.map"
  
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        color=red
        controller=human
        team_name=dwarfteam
        user_team_name= _ "Knalgan Alliance"
        shroud=no
        fog=no
        faction=Knalgan Alliance
        faction_lock=yes
        [unit]
            id=duldrus
            name=_"Duldrus"
            type=Dwarvish Guardsman
            x,y=35,7
            facing=sw
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [village]
            x=32
            y=7
        [/village]
        [village]
            x=36
            y=6
        [/village]
        [village]
            x=36
            y=7
        [/village]
    [/side]

    [side]
        side=2
        color=white
        controller=human
        team_name=undeadteam
        user_team_name= _ "Undead"
        shroud=no
        fog=no
        faction=Undead
        faction_lock=yes
        [unit]
            id=galembor
            name=_"Galembor"
            type=Ghost
            x,y=33,34
            facing=nw
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [village]
            x=36
            y=32
        [/village]
        [village]
            x=33
            y=35
        [/village]
        [village]
            x=32
            y=34
        [/village]
    [/side]

    [side]
        side=3
        color=orange
        controller=human
        team_name=humanteam
        user_team_name= _ "Loyalists"
        shroud=no
        fog=no
        faction=Loyalists
        faction_lock=yes
        [unit]
            id=kandir
            name=_"Kandir"
            type=Heavy Infantryman
            x,y=8,19
            facing=se
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [village]
            x=3
            y=20
        [/village]
        [village]
            x=4
            y=20
        [/village]
        [village]
            x=6
            y=21
        [/village]
    [/side]

    [side]
        side=4
        color=black
        controller=ai
        team_name=undead_team
        no_leader=yes
        allow_player=no
        defeat_condition=never
#define SET_SKELETON ID X Y TYPE FACING
	[unit]
            id={ID}
            type={TYPE}
            x,y={X},{Y}
            facing={FACING}
            ai_special="guardian"
        [/unit]
#enddef
        {SET_SKELETON id1 16 17 Skeleton s}
        {SET_SKELETON id2 18 17 Skeleton s}	
	{SET_SKELETON id3 20 17 Skeleton s}
	{SET_SKELETON id4 16 22 Skeleton n}
	{SET_SKELETON id5 18 22 Skeleton n}
	{SET_SKELETON id6 20 22 Skeleton n}
	{SET_SKELETON id7 25 15 Skeleton se}
	{SET_SKELETON id8 26 13 Skeleton se}
	{SET_SKELETON id9 27 12 Skeleton se}
	{SET_SKELETON id10 32 14 Skeleton nw}
	{SET_SKELETON id11 31 16 Skeleton nw}
	{SET_SKELETON id12 30 17 Skeleton nw}
	{SET_SKELETON id13 25 25 Skeleton ne}
	{SET_SKELETON id14 26 26 Skeleton ne}
	{SET_SKELETON id15 27 28 Skeleton ne}
	{SET_SKELETON id16 30 22 Skeleton sw}
	{SET_SKELETON id17 31 24 Skeleton sw}
	{SET_SKELETON id18 32 25 Skeleton sw}
	
	{SET_SKELETON id19 21 19 Deathblade sw}
        {SET_SKELETON id20 21 21 Deathblade sw}
        {SET_SKELETON id21 26 16 Deathblade ne}
        {SET_SKELETON id22 28 17 Deathblade ne}
        {SET_SKELETON id23 26 23 Deathblade se}
        {SET_SKELETON id24 28 22 Deathblade se}
    [/side]

    [event]
        name=side 1 turn 1
        [message]
            speaker=duldrus
            message= _ "I knew it, the ancient necromancer had cast a curse. These skeletons are already covered in cobwebs and dust, but as soon as we enter the cave, they will take up axes."
        [/message]
    [/event]

    [event]
        name=side 2 turn 1
        [message]
            speaker=galembor
            message= _ "My lord. There are guards ahead. They won't budge unless they're bothered. But we'll have to kill them if we want to get the treasure."
        [/message]
    [/event]
 
    [event]
        name=side 3 turn 1
        [message]
            speaker=kandir
            message= _ "To arms! There are dead people ahead! They will not leave the shelter themselves, they will have to fight in caves."
        [/message]
    [/event]

#define GOLD_PICKUP X Y AMOUNT
    {PLACE_IMAGE items/gold-coins-medium.png {X} {Y}}
    [event]
        name=moveto
        [filter]
            [not]
                side=4
            [/not]
            x,y={X},{Y}
        [/filter]
        [message]
            speaker=$unit.id
            message= _ "The gold is ours!"
        [/message]
        [sound]
            name=gold.ogg
        [/sound]
        [gold]
            side,amount=$unit.side,{AMOUNT}
        [/gold]
        {REMOVE_IMAGE {X} {Y}}
    [/event]
#enddef

{GOLD_PICKUP 23 20 25}
{GOLD_PICKUP 26 18 25}
{GOLD_PICKUP 26 21 25}
{GOLD_PICKUP 25 20 25}

[/multiplayer]
