#textdomain Maps_from_all_over_the_world
[multiplayer]
    id="3p_the_city_of_tears"
    name=_"3p_the_city_of_tears"
    map_file="~add-ons/Maps_from_all_over_the_world/maps/3p_the_city_of_tears.map"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        controller=human
        team_name=team1
        user_team_name= _ "Team1"
        [unit]
            id=Thug_side1
            type=Thug
            x,y=7,9
            facing=se
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            id=Poacher_side1
            type=Poacher
            x,y=6,10
            facing=se
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
#define SET_VILLAGE X Y
        [village]
            x={X}
            y={Y}
        [/village]
#enddef
        {SET_VILLAGE 4 7}
        {SET_VILLAGE 2 9}
        {SET_VILLAGE 3 10}
    [/side]

    [side]
        side=2
        controller=human
        team_name=team2
        user_team_name= _ "Team2"
        [unit]
            id=Thug_side2
            type=Thug
            x,y=33,9
            facing=sw
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            id=Poacher_side2
            type=Poacher
            x,y=34,10
            facing=sw
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        {SET_VILLAGE 36 7}
        {SET_VILLAGE 37 9}
        {SET_VILLAGE 38 9}
    [/side]

    [side]
        side=3
        controller=human
        team_name=Team3
        user_team_name= _ "Team3"
        [unit]
            id=Thug_side3
            type=Thug
            x,y=19,30
            facing=n
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            id=Poacher_side3
            type=Poacher
            x,y=21,30
            facing=n
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        {SET_VILLAGE 18 31}
        {SET_VILLAGE 18 32}
        {SET_VILLAGE 22 31}
    [/side]

    [side]
        side=4
        controller=ai
        team_name=Team4
        no_leader=yes
        allow_player=no
        defeat_condition=never
#define SET_UNIT ID X Y TYPE FACING
	[unit]
            id={ID}
            type={TYPE}
            x,y={X},{Y}
            facing={FACING}
            ai_special="guardian"
        [/unit]
#enddef
        {SET_UNIT id1 37 22 "Elvish Ranger" sw}
        {SET_UNIT id2 16 1 "Elvish Ranger" ne}	
	{SET_UNIT id3 7 27 "Elvish Ranger" se}

	{SET_UNIT id4 12 20 Wose sw}
	{SET_UNIT id5 6 22 Wose sw}
	{SET_UNIT id6 19 4 Wose sw}
	{SET_UNIT id7 29 20 Wose sw}
	{SET_UNIT id8 33 24 Wose sw}
	{SET_UNIT id9 21 7 Wose sw}
	{SET_UNIT id10 22 21 Wose sw}
	{SET_UNIT id11 24 12 Wose sw}
	{SET_UNIT id12 14 15 Wose sw}
    [/side]

#define ELF_SPEAK ID
    [event]
        name=attack
        [filter]
            id={ID}
        [/filter]
        [message]
            speaker={ID}
            message= _ "Our people may have left this city many years ago, but we will not allow it to be desecrated."
        [/message]
    [/event]
    [event]
        name=attack
        [filter_second]
            id={ID}
        [/filter_second]
        [message]
            speaker={ID}
            message= _ "The way to the city is over my dead body. It is my duty to protect the sacred land or die trying."
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id={ID}
        [/filter]
        [message]
            speaker={ID}
            message= _ "I curse you vile marauders!"
        [/message]
    [/event]
#enddef

{ELF_SPEAK id1}
{ELF_SPEAK id2}
{ELF_SPEAK id3}

    [event]
        name=side 1 turn 1
        [message]
            speaker=Thug_side1
            message= _ "As agreed, we took you to the abandoned city. It remains only to divide the treasures."
        [/message]
        [message]
            speaker=Poacher_side1
            message= _ "You have to be careful in these woods. I feel like there's someone else here."
        [/message]
    [/event]

    [event]
        name=side 2 turn 1
        [message]
            speaker=Thug_side2
            message= _ "As agreed, we took you to the abandoned city. It remains only to divide the treasures."
        [/message]
        [message]
            speaker=Poacher_side2
            message= _ "You have to be careful in these woods. I feel like there's someone else here."
        [/message]
    [/event]

    [event]
        name=side 3 turn 1
        [message]
            speaker=Thug_side3
            message= _ "As agreed, we took you to the abandoned city. It remains only to divide the treasures."
        [/message]
        [message]
            speaker=Poacher_side3
            message= _ "You have to be careful in these woods. I feel like there's someone else here."
        [/message]
    [/event]

#define GOLD_PICKUP X Y AMOUNT
    {PLACE_IMAGE items/gold-coins-medium.png {X} {Y}}
    [event]
        name=moveto
        [filter]
            [not]
                side=4
            [/not]
            x,y={X},{Y}
        [/filter]
        [message]
            speaker=$unit.id
            message= _ "The gold is ours!"
        [/message]
        [sound]
            name=gold.ogg
        [/sound]
        [gold]
            side,amount=$unit.side,{AMOUNT}
        [/gold]
        {REMOVE_IMAGE {X} {Y}}
    [/event]
#enddef

{GOLD_PICKUP 16 17 25}
{GOLD_PICKUP 23 19 25}
{GOLD_PICKUP 19 13 25}
{GOLD_PICKUP 17 19 25}
{GOLD_PICKUP 24 17 25}
{GOLD_PICKUP 21 13 25}

# AntiUnionSystem

    [event]
        name=prestart

        {VARIABLE union_victim nil}

        {VARIABLE union_1_turn_ago nil}
        {VARIABLE union_2_turn_ago nil}
        {VARIABLE union_3_turn_ago nil}

        {VARIABLE attack_1_to_2 false}
        {VARIABLE attack_1_to_3 false}
        {VARIABLE attack_2_to_1 false}
        {VARIABLE attack_2_to_3 false}
        {VARIABLE attack_3_to_1 false}
        {VARIABLE attack_3_to_2 false}

        {VARIABLE main_support_unit nil}
        {VARIABLE is_support_arrive false}
    [/event]  

#define EVENT_ATTACK SIDE_ATTACK SIDE_DEFENCE FLAG_VARIABLE
    [event]
        name=attack
        first_time_only=no
        [filter]
            side={SIDE_ATTACK}
        [/filter]
        [filter_second]
            side={SIDE_DEFENCE}
        [/filter_second]
        {VARIABLE {FLAG_VARIABLE} true}
    [/event]
#enddef
{EVENT_ATTACK 1 2 attack_1_to_2}
{EVENT_ATTACK 1 3 attack_1_to_3}
{EVENT_ATTACK 2 1 attack_2_to_1}
{EVENT_ATTACK 2 3 attack_2_to_3}
{EVENT_ATTACK 3 1 attack_3_to_1}
{EVENT_ATTACK 3 2 attack_3_to_2}

    [event]
        name=turn end
        first_time_only=no
        [lua]
            code = <<
                local vars = wml.variables

                vars.union_3_turn_ago=vars.union_2_turn_ago
                vars.union_2_turn_ago=vars.union_1_turn_ago
                vars.union_1_turn_ago=nil
                
                if vars.attack_2_to_1 and vars.attack_3_to_1 and not vars.attack_2_to_3 and not vars.attack_3_to_2 then
                    vars.union_1_turn_ago=1
                end
                if vars.attack_1_to_2 and vars.attack_3_to_2 and not vars.attack_1_to_3 and not vars.attack_3_to_1 then
                    vars.union_1_turn_ago=2
                end
                if vars.attack_1_to_3 and vars.attack_2_to_3 and not vars.attack_1_to_2 and not vars.attack_2_to_1 then
                    vars.union_1_turn_ago=3
                end

                if vars.union_1_turn_ago==vars.union_2_turn_ago and vars.union_2_turn_ago==vars.union_3_turn_ago then
                    vars.union_victim=vars.union_1_turn_ago
                end
            >>
        [/lua]
               
        {VARIABLE attack_1_to_2 false}
        {VARIABLE attack_1_to_3 false}
        {VARIABLE attack_2_to_1 false}
        {VARIABLE attack_2_to_3 false}
        {VARIABLE attack_3_to_1 false}
        {VARIABLE attack_3_to_2 false}
    [/event]

#define SET_SUPPORT CURRENT_SIDE X Y
    [event]
        name=side {CURRENT_SIDE} turn
        first_time_only=no
        {VARIABLE x {X}}
        {VARIABLE y {Y}}
        [lua]
            code = <<
                local vars = wml.variables
                local wml_actions = wesnoth.wml_actions
                local T = wml.tag

                if vars.union_victim==vars.side_number then
                    vars.union_victim=nil

                    local units={"Thug", "Poacher", "Footpad"}
                    local ids={"support1"..vars.turn_number..vars.side_number, "support2"..vars.turn_number..vars.side_number, "support3"..vars.turn_number..vars.side_number}
                    vars.main_support_unit=ids[1]
                    vars.is_support_arrive=true
                
                    for i,val in ipairs(units) do
                        local radius = 1
                        local locs
                        repeat
                            locs = wesnoth.map.find({T["not"] { T.filter {} } , T["and"] { x = vars.x, y = vars.y, radius = radius } })
                            radius = radius + 1
                        until locs[1]

                        local loc_i = mathx.random_choice("1.."..#locs)

                        wml_actions.move_unit_fake({x = string.format("%d,%d", vars.x, locs[loc_i][1]), y = string.format("%d,%d", vars.y, locs[loc_i][2]), type = val, side = vars.side_number})
                        wesnoth.units.to_map({id = ids[i], type = val, side = vars.side_number}, locs[loc_i][1], locs[loc_i][2])
                    end 
                end 
            >>
        [/lua]
        [if]
            [variable]
                name=is_support_arrive
                boolean_equals=true
            [/variable]
            [then]
                [message]
                    speaker=$main_support_unit
                    message= _ "It looks like you've been pinned down by other elven gold lovers. We'll help fight back, but we'll have to increase our share, haha."
                [/message]
                {VARIABLE is_support_arrive false}
            [/then]
        [/if]
    [/event]
#enddef
{SET_SUPPORT 1 6 5}
{SET_SUPPORT 2 33 6}
{SET_SUPPORT 3 16 31}

# /AntiUnionSystem

[/multiplayer]
