[textdomain]
    name="Maps_from_all_over_the_world"
    path="data/add-ons/Maps_from_all_over_the_world/translations"
[/textdomain]

#ifdef MULTIPLAYER
	[binary_path]
		path=data/add-ons/Maps_from_all_over_the_world
	[/binary_path]
	{~add-ons/Maps_from_all_over_the_world/maps}
	{~add-ons/Maps_from_all_over_the_world/scenarios}
#endif
